Calculating driving costs and time

In [55]:
import pandas as pd

In [56]:
state_gas = pd.read_csv("gas price by state.csv")
road = pd.read_csv('road_distance.csv')
state_gas

                   state  Regular  Mid-Grade  Premium  Diesel
0                Wyoming    3.435      3.676    3.959   4.623
1              Wisconsin    3.208      3.615    4.061   4.153
2          West Virginia    3.388      3.696    4.021   4.662
3             Washington    4.127      4.337    4.544   5.047
4               Virginia    3.332      3.734    4.072   4.549
5                Vermont    3.519      4.015    4.424   5.011
6                   Utah    3.699      3.903    4.091   4.669
7                  Texas    3.066      3.449    3.783   4.136
8              Tennessee    3.177      3.558    3.920   4.376
9           South Dakota    3.389      3.554    4.008   4.383
10        South Carolina    3.160      3.533    3.883   4.404
11          Rhode Island    3.398      3.979    4.346   5.072
12          Pennsylvania    3.756      4.143    4.450   5.063
13                Oregon    3.775      3.979    4.184   4.781
14              Oklahoma    3.136      3.452    3.702   3.973
15                  Ohio    3.329      3.763    4.176   4.598
16          North Dakota    3.357      3.618    3.943   4.476
17        North Carolina    3.275      3.655    4.016   4.441
18              New York    3.553      4.010    4.373   5.252
19            New Mexico    3.298      3.624    3.913   4.370
20            New Jersey    3.389      3.943    4.227   4.709
21         New Hampshire    3.368      3.835    4.231   5.082
22                Nevada    4.048      4.279    4.504   4.775
23              Nebraska    3.344      3.523    3.994   4.210
24               Montana    3.248      3.525    3.811   4.386
25              Missouri    3.125      3.410    3.731   4.107
26           Mississippi    3.111      3.487    3.830   4.301
27             Minnesota    3.361      3.659    4.055   4.341
28              Michigan    3.362      3.832    4.290   4.627
29         Massachusetts    3.418      3.974    4.321   5.060
30              Maryland    3.431      3.946    4.207   4.530
31                 Maine    3.495      3.900    4.265   5.594
32             Louisiana    3.180      3.558    3.906   4.320
33              Kentucky    3.131      3.573    3.944   4.390
34                Kansas    3.179      3.462    3.765   4.122
35                  Iowa    3.303      3.560    4.029   4.221
36               Indiana    3.240      3.692    4.121   4.690
37              Illinois    3.606      4.054    4.492   4.524
38                 Idaho    3.615      3.839    4.060   4.673
39                Hawaii    4.915      5.149    5.383   6.013
40               Georgia    3.318      3.701    4.071   4.617
41               Florida    3.470      3.860    4.177   4.847
42  District of Columbia    3.602      4.169    4.556   4.987
43              Delaware    3.330      3.787    4.075   4.329
44           Connecticut    3.337      3.879    4.321   4.974
45              Colorado    3.931      4.277    4.585   4.796
46            California    4.617      4.813    4.961   5.703
47              Arkansas    3.132      3.471    3.818   4.186
48               Arizona    3.493      3.776    4.058   4.607
49                Alaska    3.780      3.933    4.141   4.572
50               Alabama    3.203      3.591    3.954   4.448

In [57]:
# Merge employee data with gas prices
road_dist_with_price = pd.merge(road, state_gas, left_on="state", right_on="state")
road_dist_with_price

,postal_code,state,latitude,longitude,Atlanta,Bellevue,Chicago,Dallas,Denver,Indianapolis,New York,San Francisco,Seattle,The Ranch,Regular,Mid-Grade,Premium,Diesel
0,01503-1716,Massachusetts,42.373140,-71.621630,873.260109,2453.045035,822.425206,1521.945339,1736.835794,758.237910,165.585220,2662.914286,2453.048764,2662.502780,3.418,3.974,4.321,5.060
1,01545-1666,Massachusetts,42.324840,-71.699530,868.093433,2450.958408,818.811653,1517.149196,1733.189079,753.981242,160.395266,2659.627326,2450.962138,2659.128416,3.418,3.974,4.321,5.060
2,01748-2814,Massachusetts,42.235910,-71.492080,873.472704,2463.189397,830.021909,1525.458559,1744.340201,764.053814,164.634137,2671.198938,2463.193127,2670.608744,3.418,3.974,4.321,5.060
3,01803-2318,Massachusetts,42.516210,-71.214060,896.013261,2467.312460,842.155287,1544.730667,1756.610685,779.842556,187.802636,2681.489782,2467.316184,2681.370838,3.418,3.974,4.321,5.060
4,01803-3742,Massachusetts,42.502190,-71.192380,896.393482,2468.730994,843.344421,1545.497184,1757.799612,780.850619,188.045354,2682.755503,2468.734718,2682.620009,3.418,3.974,4.321,5.060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,99354,Washington,46.297470,-119.287530,1992.421940,164.771827,1568.701050,1509.315461,850.000559,1703.331500,2269.893303,608.951848,164.774926,652.218813,4.127,4.337,4.544,5.047
6217,99504,Alaska,61.218070,-149.729005,3356.861008,1432.867790,2809.860387,3043.894129,2388.685254,2971.489882,3354.383288,1999.928151,1432.865532,2053.952856,3.780,3.933,4.141,4.572
6218,99516,Alaska,61.105915,-149.833985,3360.086625,1432.295567,2813.620535,3045.239965,2389.708636,2975.192425,3359.380523,1997.444618,1432.293291,2051.457259,3.780,3.933,4.141,4.572
6219,99577,Alaska,61.323155,-149.568300,3351.808663,1431.658426,2804.309013,3040.681449,2385.805146,2965.991033,3347.705639,2000.761000,1431.656188,2054.797906,3.780,3.933,4.141,4.572
6220,99669,Alaska,60.483900,-151.152595,3403.742714,1453.142894,2860.244437,3077.871263,2420.488038,3021.488278,3412.121028,2004.144023,1453.140496,2058.034841,3.780,3.933,4.141,4.572

In [61]:
# Merge gas prices with the prev dataframe

road_gas_prices = road_dist_with_price[['Atlanta',	'Bellevue',	'Chicago',	'Dallas',	'Denver',	'Indianapolis',	'New York',	'San Francisco',	'Seattle',	'The Ranch']].divide(24.2).multiply(road_dist_with_price['Regular'], axis="index")
road_gas_prices['postal_code'] = road_dist_with_price['postal_code']
road_gas_prices['state'] = road_dist_with_price['state']
road_gas_prices['latitude'] = road_dist_with_price['latitude']
road_gas_prices['longitude'] = road_dist_with_price['longitude']

In [45]:
road_gas_prices.to_csv('road_cost.csv')

In [52]:
# Calculating driving time assuming 32 mph:
road_time = road_gas_prices
road_time['Atlanta'] = road_time['Atlanta']/32
road_time['Bellevue'] = road_time['Bellevue']/32
road_time['Chicago'] = road_time['Chicago']/32
road_time['Dallas'] = road_time['Dallas']/32
road_time['Denver'] = road_time['Denver']/32
road_time['Indianapolis'] = road_time['Indianapolis']/32
road_time['New York'] = road_time['New York']/32
road_time['San Francisco'] = road_time['San Francisco']/32
road_time['Seattle'] = road_time['Seattle']/32
road_time['The Ranch'] = road_time['The Ranch']/32

In [54]:
road_time.to_csv('road_time.csv')